@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section style */
.banner-container {
    max-width: 1180px;
    margin: 0 auto;
    min-height: 500px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    background-image: url(../images/Banner-Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.banner-content p,
h1 {
    color: white;
}

.banner-content p {
    font-size: 20px;
}

.banner-content h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

/* 65% section style starts here  */
.first-section-container {
    width: 370px;
    height: 350px;
    margin: 0 auto;
    margin-top: 50px;
}
.first-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-section-container .first-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 35px;
    margin-bottom: 20px;
}
.first-section-container .first-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
}
.first-section-container .first-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.first-section-container .first-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-section-container .first-image-container img{
    width: 300px;
    height: 200px;
   border: 1px dashed rgb(30, 30, 30,0.3); 
}