@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}
/* banner section style */
.banner-container{
    width: 1180px;
    margin: 0 auto;
    border: 2px solid red;
    min-height: 500px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: overlay;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.banner-content p,h1{
    color: white;
}
.banner-content p{
    font-size: 20px;
}
.banner-content h1{
    font-size: 50px;
    text-align: center;
    font-weight: bold;